.publicar{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#pub{
    border-radius: 10px;
    padding: 7px;
    margin-left: 10px;
    margin-right:10px ;
}
.btn{
    padding: 5px;
    border-radius: 50px;
}

.nome{
    font-weight: bold;
    color: rgb(100, 97, 97);
}
.fotos{
    width: 50px;
    margin:8px 5px 0px 10px;
    border-radius: 50%;
}